/*Start Main*/
body
{
  padding:0;
  margin: 0;
  height: 3000px;
}
.container
{
  width: 1170px;
  margin:auto;
}
p{
  margin-bottom: 0px;
}
/*End Main*/

/*Start Navber*/
.navbar
{
  background-color: #000020;
  height: 50px;
  overflow: hidden;
}
/*Start Navber Info*/
.navbar .nav_info
{
  color: rgba(255, 250, 255, 0.5);
  width: 75%;
  float: left;
}

/*Start Email Section*/
.navbar .nav_info .info_mail
{
  float: left;
  text-align: center;
  margin-top: 5px;
  width: 25%;
}
.navbar .nav_info .info_mail img
{
  margin:0;
  padding:0;
  height: 19px;
  width: 19px;
  float: left;
}
.navbar .nav_info .info_mail p
{
  font-size: 13px;
  text-align: center;
  padding: 0;
  color: #949494;
  float: left;
  margin-left: 10px;
}
/*End Email Section*/

/*Start Phone Section*/
.navbar .nav_info .info_phone
{
  width: 33%;
  float: left;
  margin-top: 5px;

}
.navbar .nav_info .info_phone img
{
  margin-top: 5px;
  padding:0;
  height: 15px;
  width: 15px;
  float: left;
}
.navbar .nav_info .info_phone p
{
  font-size: 13px;
  text-align: center;
  padding: 0;
  color: #949494;
  float: left;
  margin-left: 10px;
}
/*End Phone Section*/

/*End Navber Info*/

/*Start Navber login*/
.navbar .nav_login
{
  width: 25%;
  float: left;
}
.navbar .nav_login .Contact
{
  float:left;
}
.navbar .nav_login p
{
  margin-right: 20px;

  font-size: 18px;
  color: #bbbbbb;
  float: right;
  text-transform: uppercase;
  font-family: fantasy;
  letter-spacing: 2px;
}
.navbar .nav_login button
{
  height: 30px;
  width: 90px;
  border: none;
  padding: 0px;
  background-color: #f7c212;
  text-align: center;
  float: right;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: fantasy;
  letter-spacing: 2px;
  display: inline-block;
}

.navbar .nav_login button:hover
{
  background-color: #f5f5f5;
  color: #f7c212;
}
/*End Navber login*/

/*End Navbar*/

/**********************************/

/*Start Second Section in navbar*/

.second_nav
{
  height: 95px;
}
/*Logo*/
.second_nav .logo
{
  width: 30%;
}
.second_nav .logo img
{
  margin: 0px;
  padding: 0px;
  margin-top: 19px;
  margin-left: 22px;
  float: left;
}
/*End Logo*/

/*NavBAR*/
.second_nav .main_nav
{
  width: 63%;
  float: right;
  margin-top: 17px;
  font-family: monospace;
  font-size: 18px;
  text-transform: uppercase;
}
.second_nav .main_nav ul
{
  list-style-type: none;
  margin: 0px;
  padding:0px;
  height: 50px;
  float: left;
  overflow: hidden;
}
.second_nav .main_nav ul li
{
  float: left;
}
.second_nav .main_nav ul li a
{
  display: block;
  color: #000;
  padding: 16px 18px;
  text-align: center;
  text-decoration:none;
}
.second_nav .main_nav ul li a:hover
{
  color: #f7c213;
}
/*End NAVBAR*/

/*End Second Section in navbar*/

/**********************************/

/*Start Third Section*/


/*End Third Section*/

/**********************************/

/*Start fourth Section*/
.fourth
{
  padding-top: 50px;
  text-align: center;
}

.fourth h2
{
  text-transform: uppercase;
  width: 60%;
  border-bottom: 5px solid #f7c213;
  line-height: 0.1em;
  margin: 10px 0px 50px 20%;
}
.fourth h2 span {
    background:#fff;
    padding:0px 50px;
}
.fourth p
{
  color: #bebebe;
  width: 60%;
  margin-left: 20%;
  line-height: 2em;
}
.fourth .description
{
  padding-top: 30px;
  padding-bottom: 30px;
}
.fourth .description p
{
  color: #000;
  width: 85%;
  margin-left: 6%;
  line-height: 2em;
}
.fourth .picture
{
  overflow: hidden;
  padding-top: 30px;
  height: 600px;
}
.fourth .picture img
{
  bottom: 144px;
  position: relative ;
  width: 100%;

}
/*End fourth Section*/

/*Start Fifth Section*/
.Fifth
{
  height: 600px;
  width: 100%;
  text-align: center;
  background-image: url('../Images/Page/vv.jpg');
  position: relative;
  background-repeat: no-repeat;
}
.Fifth .backgroundColor
{
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
}
.Fifth .infoSection
{
  text-transform: uppercase;
  color: #000;
  display: inline-block;
  position: absolute;
  margin-left: -335px;
  margin-top: 30px;
  overflow: hidden;
}
.Fifth .infoSection p
{
  font-weight: 700;
  line-height: 500px;
  letter-spacing: 5px;
  font-size: 30px;
}


/*End Fifth Section*/

/*Start VI Section*/
.portfolio
{
  padding-top: 100px;
  overflow: hidden;
}
.contant
{
    display: inline-block;
    min-height:  450px;
    overflow: hidden;
}

/* Start make a side line header*/

.contant .prographSection h2 {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin: 50px 0px 30px 10%;
    margin-left: 40px;
}
 .contant .prographSection h2:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 30%;
    height: 3px;
    content: '\a0';
    background-color: #f7c213;
    margin-left: 20px;
}


/*End make a side line header*/

.prographSection p
{
  margin-left: 40px;
  width: 100%;
  color: #bebebe;
}
.prographSection .infopragraph
{
  margin-top: 20px;
}
.prographSection p span
{
  color: black;
  padding: 0px 4px;
}
.prographSection p span a
{
 margin-top: 30px;
 color: #f7c213;
 display: block;
 text-decoration: none;
}
.prographSection .infopragraph .info
{
  font-weight: bold;
}
.prographSection .boldtext
{
  margin-top: 0px;
  color: #f7c213;
  font-weight: bold;
}
.contant .imagesSection
{
  float: left;
  width: 50%;
}
.contant .imagesSection img
{
  width: 100%;
  height: 380px;
}
.contant .prographSection
{
  float: left;
  width: 50%;
}
/*----------middle---------------*/

.contant .middleimagesSection
{
  float: right;
  width: 50%;
}
.contant .middleimagesSection img
{
  width: 100%;
  padding-left: 20px;
  height: 380px;
}
.contant .middleprographSection
{
  float: right;
  width: 50%;
}
/* Start make a side line header*/

.contant .middleprographSection h2 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 50px 0px 30px 0px;
}

.contant .middleprographSection h2:after {
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 30%;
  height: 3px;
  content: '\a0';
  background-color: #f7c213;
  margin-left: 20px;
}

/*End make a side line header*/

.middleprographSection p
{
  width: 95%;
  color: #bebebe;
}
.middleprographSection .infopragraph
{
  margin-top: 20px;
}
.middleprographSection p span a
{
 margin-top: 30px;
 color: #f7c213;
 display: block;
 text-decoration: none;
}
.middleprographSection .infopragraph .info
{
  font-weight: bold;
}
.middleprographSection .boldtext
{
  margin-top: 0px;
  color: #f7c213;
  font-weight: bold;
}
/*----------middle---------------*/


/*End VI Section*/

/*Strat VII Section*/
.counter
{
  background-color:#222 ;
  color: #f7c213;
  height: 300px;
  margin-bottom: 50px;
  text-align: center;
}
.counter .counterUp
{
  overflow: hidden;
  margin-top: 7%;
  display: inline-block;
  width: 100%;
}
.counter .one,.two,.three,.four
{
  width: 25%;
  float: left;
}
.counter .one p,.two p,.three p,.four p{
  font-weight: bold;
  font-size: 75px;
}
.counter .one h5,.two h5,.three h5,.four h5
{
  text-transform: uppercase;
  color: #fff;
  margin-top: 5PX;
  font-size: 15px;
}

/*End VII Section*/

/*Start Courses Section*/
.Courses
{
  height: 715px;
  overflow: hidden;
}
.Courses #headerInfo
{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.Courses #headerInfo:after,
.Courses #headerInfo:before
{
   display: inline-block;
   content: "";
   border-top: .3rem solid #f7c213;
   width: 4rem;
   margin: -3px 1rem;
   transform: translateY(-1rem);
}
.Courses .containerInfo
{
  margin-top: 60px;
  width: 100%;
}
.Courses .containerInfo .CoursesInfo
{
  min-height: 300px;
  width: 31%;
  float: left;
  margin-left: 2%;
  background-color: white;
  position: relative;
}
.Courses .containerInfo .CoursesInfo .CoursePrice
{
  background-color: #f7c213;
  position: absolute;
  width: 40px;
  height:40px;
  margin-left: 17px;
  top: -19px;
  text-align: center;
  border-radius: 50%;
  border: 4px solid white;
}
.Courses .containerInfo .CoursesInfo:hover .CoursePrice
{
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  border: 2px dashed #f7c213;
  background: white;
}
.Courses .containerInfo .CoursesInfo .CoursePrice p
{
  margin-top: 8px;
  text-align: center;
  font-weight: bolder;
  font-size: 12px;
}
.Courses .containerInfo .CoursesInfo .CoursesImage
{
  min-height: 300px;
  width: 100%;
}
.Courses .containerInfo .CoursesInfo .CoursesImage img
{
  min-height: 300px;
  width: 100%;
}
.Courses .containerInfo .CoursesDescription
{
  padding: 20px;
}
.Courses .containerInfo .CoursesDescription h5
{
  font-weight: bold;
  width: 100%;
}
.Courses .containerInfo .CoursesDescription p
{
  color: #bebebe
}
.Courses .containerInfo .CoursesInstructor
{
  color: #bebebe;
  width: 100%;
  padding: 20px;
  height: 90px;
  overflow: hidden;
}
.Courses .containerInfo .CoursesInstructor .instructorImage
{
  width: 40%;
}
.Courses .containerInfo .CoursesInstructor .instructorImage img
{
  height: 51px;
  max-width: 40%;
  float: left;
  border-radius: 50%;
}
.Courses .containerInfo .CoursesInstructor .instructorDescription
{
  width: 84%;
  float: left;
  padding-left: 20px;
}
.Courses .containerInfo .CoursesInstructor .instructorDescription .instructorName
{
  float: left;
  width: 50%;
}
.Courses .containerInfo .CoursesInstructor .instructorDescription .instructorName > h5
{
  font-weight: bold;
  color: black;
  margin-bottom:0px;

}
.Courses .containerInfo .CoursesInstructor .instructorDescription .instructorName > p
{
  font-size: 10px;
  color: #bebebe;
  display: inline-block;
}
.Courses .containerInfo .CoursesInstructor .instructorDescription .plus
{
  width: 10%;
  text-align: center;
  height: 25px;
  float: right;
  background-color: #f7c213;
  border-radius: 50%;
  margin-top: 12px;
}
.Courses .containerInfo .CoursesInstructor:hover .instructorDescription .plus
{
  text-align: center;
  border:2px solid #f7c213;
  background-color: white;
  height: 27px;
  width: 11%;
  cursor: pointer;
}
.Courses .containerInfo .CoursesInstructor:hover .instructorDescription .plus > p
{
 margin: auto;
}
.Courses .containerInfo .CoursesInstructor .instructorDescription .plus > p
{
  text-align: center;
  font-weight: bold;
  color: black;
  margin-top: 2px;
}
/*End Courses Section*/

/*Start Fifth Section*/
.Subscribe
{
  height: 600px;
  width: 100%;
  text-align: center;
  background-image: url('../Images/Page/vv.jpg');
  position: relative;
  background-repeat: no-repeat;
}
.Subscribe .backgroundColor
{
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
}
.Subscribe .infoSection
{
  text-transform: uppercase;
  color: #000;
  display: inline-block;
  position: absolute;
  margin-left: -28%;
  margin-top: 30px;
  overflow: hidden;
  height: 100%;
  width: 55%;
}
.Subscribe .infoSection h3
{
  font-weight: 1000;
  margin-top:15%;
  letter-spacing: 5px;
  color: white;
  font-size: 52px;

}
.Subscribe .infoSection p
{
  color: white;
  line-height: 30px;
  margin-top: 25px;
  font-weight: bold;
}
.Subscribe .infoSection .formSubscribe
{
  margin-top: 50px;
}
.Subscribe .infoSection .formSubscribe input
{
  height: 52px;
  width: 56%;
  border-radius: 30px;
  border: none;
  padding: 20px;
}
.Subscribe .infoSection .formSubscribe input:ms-placeholder
{
  color: #bebebe;
}
.Subscribe .infoSection .formSubscribe button
{
  height: 52px;
  width: 25%;
  border: none;
  border-radius: 30px;
  background-color: #f7c213;
  margin-left: 20px;

}
.Subscribe .infoSection .formSubscribe button:hover
{
  color: white;
}
/*End the Subscribe Section*/


/*Start the Events Section*/
.Events
{
  display: inline-block;
  height:  560px;
  overflow: hidden;
  margin-top: 50px
}

.Events .EventsimagesSection
{
  float: right;
  width: 50%;
}
.Events .EventsimagesSection img
{
  width: 100%;
  height: 380px;
}


.Events .EventsimagesSection .Eventsheader
{
  width: 40%;
  float: left;
}
/* Start make a side line header*/
.Events .EventsimagesSection h2,
.Events .EventsprographSection h2 {
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.Events .EventsimagesSection h2:after,
.Events .EventsprographSection h2:after
{
  position: absolute;
  top: 51%;
  overflow: hidden;
  width: 10%;
  height: 4px;
  content: '\a0';
  background-color: #f7c213;
  margin-left: 20px;
}
.Events .EventsimagesSection h2:after
{
  width: 26%;
}
/*End make a side line header*/
.Events .EventsimagesSection .EventsPointers
{
  width: 30%;
  float: left;
  color: #bebebe;
  margin-top: 7px;
}

.Events .EventsimagesSection .left span,.right span
{
  display: block;
  border: 1px solid #bebebe;
  padding: 6px;
  text-align: center;
}
.Events .EventsimagesSection .left,.right
{
  display: inline-block;
  width: 25%;
  float: left;
}
.Events .EventsimagesSection .right
{
  float: right;
  margin-right: 40%;
}
.Events .EventsimagesSection .left:hover span,.right:hover span
{
  color: #f7c213;
  border: none;
  font-size: 22px;
  overflow: hidden;

}
.Events .EventsprographSection
{
  float: right;
  width: 50%;
}
.EventsprographSection p
{
  width: 95%;
  color: #bebebe;
}
.EventsprographSection .Eventsinfopragraph
{
  margin-top: 20px;
}
.EventsprographSection p span a
{
  margin-top: 30px;
  color: #f7c213;
  display: block;
  text-decoration: none;
}
.EventsprographSection .Eventsinfopragraph .info
{
  font-weight: bold;
}
.EventsprographSection .boldtext
{
  margin-top: 0px;
  color: #f7c213;
  font-weight: bold;
}


/*End the Events Section*/

/*Start Footer*/
footer{
  width: 100%;
  height: 200px;
  background-color: #f7c213;
  overflow: hidden;
}
footer .footerLeft{
  width: 50%;
  padding: 40px;
  float: left;
  z-index: 1;
}

footer .footerLeft p{
  padding-bottom: 10px;
}
footer .footerLeft a{
  text-decoration: none;
  color: #000;
}
footer .footerLeft .line{
  border: 1px solid red;
  margin-right: 7px;
  margin-left: 9px;
  display: inline-block;
  width: 6px;
  height: 25px;
}

/**/
footer .footerRight{
  float: right;
  width: 50%;
}

/*End Footer*/

/***************/
